.photos {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(68, 64, 64);
}

.thumbnailBlock {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(73, 127, 227);
}

.photoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
    padding: 1rem;
    background-color: rgb(73, 127, 227);
    gap: 1rem;

}

.thumbnail {
    border: 1px solid rgb(68, 64, 64);
}

#photos {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width:525px) {
    .photos {
        width: 45%;
    }

    .photoBlock {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #photos {
        width: 100%;
    }
}

@media (min-width:875px) {
    .photos {
        width: 45%;

    }

    #photos {
        width: 100%;
        height: 80%;
    }

    .photoBlock {
        flex-direction: row;
        flex-wrap: wrap;
    }
}