.posts {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}