.main {
    padding: 0;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1rem;
}

.userInfo1 {
    display: none;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width:875px) {
    .userInfo1 {
        display: block;
    }

    .userInfo {
        display: none;
    }

    .main {
        flex-direction: row;
    }

    .leftBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}